.container{
    display: grid;
    height: 100vh;
    gap: 2em;
    grid-template-rows: 0px 25% 65%;
    .imagediv{
        padding-top: 1em;

    img{
        display: block;
        margin: 0 auto;
        min-height: 70%;
        max-height: 100%;
    }
}
    form{
        padding-top: 10px;
        display: grid;
        grid-template-rows: 7% 7% 50% 10%;
        gap: 1em;
        height: 100%;

        .input{
            margin: auto;
            width: 80%;
        }

        .teamlist{
            background-color: whitesmoke;
            margin: 2em auto;
            overflow: auto;
            width: 80%;
            border: solid 1px black;
        }
        
        .btn{
            min-height: 40px;
            width: 10em;
            border-radius: 1em;
        }
    }
}
