<div class="page">
<div class="text-center container">
    <div class="imagediv">
        <img src="assets/images/logo.png">
    </div>
        <form>
            <div class="form-group col-xs-12 input">
                <input 
                    type="text"
                    id="name"
                    placeholder="Team naam"
                    formControlName="name"
                    class="form-control">
            </div>
            <div class="form-group col-xs-12 input">
                <input 
                    type="text"
                    id="imagePath"
                    placeholder="team lid"
                    formControlName="name"
                    class="form-control"
                    #imagePath>
            </div>
            <div class="teamlist">
                <app-teammember-item class="teammember"
                    *ngFor="let teammember of members; let i = index"
                    [member]="teammember"
                    [index]="i"></app-teammember-item>
            </div>
            <div>
                <button type="button" class="btn btn-primary">Enter Active Pool</button>
            </div>
        </form>
</div>
</div>