.anything{
    background-color: red;
}

.teamlist{
    margin: auto;
    width: 60vw;
    height: 20vh; 
    overflow: auto;
    border: solid 1px black;
}

.btn{
    height: 5em;
    width: 10em;
    border-radius: 1em;
}