<div class="page">
    <app-header/>
    <div class="text-center container">
        <div class="top-container">
            <h2 style="font-size: xx-large;">Sudoku Puzzle</h2>
            <div class="img-container"><img src="assets/images/logo.png"></div>
            <h4>Op donderdag 4 oktober 1943 was
                de eerste piraten evenement, Hoe 
                word dit evenement ook wel genoemd?</h4>
        </div>

        <div class="awnser-container">
            <div class="awnsers">
                <app-antwoord-box class="btn btn-warning btn-lg"/>
                <app-antwoord-box class="btn btn-warning btn-lg"/>
                <app-antwoord-box class="btn btn-warning btn-lg"/>
                <app-antwoord-box class="btn btn-warning btn-lg"/>
            </div>
            <div class="confirm">
            <input type="text" class="form-control" placeholder="Antwoord">
            <button type="button" class="btn btn-success btn-lg">Bevestig antwoord</button>
        </div>
        </div>
    </div>
</div>