<div class="page">
    <app-header/>
    <div class="text-center container">
        <div class="top-container">
            <div class="img-container"><img src="assets/images/get_connected.png"></div>
            <h4>{{ quizz.question[currentQuestion].query }}</h4> 
        </div>

        <div class="awnser-container">
            <div class="awnsers">
                <app-antwoord-box class="btn btn-warning btn-lg" *ngFor="let option of quizz.question[currentQuestion].options; let i = index"
                [item]="option"/>
            </div>
            <div class="confirm">
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-lg">Bevestig antwoord</button>
        </div>
        </div>
    </div>
</div>