<div class="page">
    <app-header/>
    <div class="text-center container">
        <div class="top-container">
            <div class="img-container"><img *ngIf="currentImageFile" src="{{ quizz.question[this.currentQuestion].file }}"></div>
            <audio controls id="audio" *ngIf="currentMusicFile" src="{{ quizz.question[this.currentQuestion].file }}"><source src="{{ quizz.question[this.currentQuestion].file }}"></audio>
            <h4>{{ quizz.question[currentQuestion].query }}</h4> 
        </div>

        <div class="awnser-container">
            <div class="awnsers">
                <app-antwoord-box class="awnserbox" *ngFor="let option of quizz.question[currentQuestion].options; let i = index"
                [item]="option"/>
            </div>
            <div class="confirm">
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-lg">Bevestig antwoord</button>
        </div>
        </div>
    </div>
</div>