.game_item{
    background-color: whitesmoke;
    display: grid;
    padding: 6px;    
    border-width: 2px;
    border-color: black;
    border-style: solid;
    grid-template-columns: 60% 40%;
    margin-bottom: 10px;
    .code{
        text-align: center;
    }
}