<div class="page">
    <app-header/>
    <div class="container">
        <div class="gameDescription">
            <p style="font-size: xx-large;">Sudoku Puzzle</p>
            <p>Bij het oplossen van een sudoku puzzel gelden de volgende regels.
            <br>
            1. Elke Cel moet een cijver bevatten tussen de 1 en 9. <br>
            2. Op elke horizontale rij mag elk cijfer maar 1 keer voorkomen.<br>
            3. Op elke verticale kolom mag elk cijfer maar 1 keer voorkomen.<br>
            4. In elk subrooster mag elk cijver slechts maar 1 keer voorkomen.
        </div>
        <div class="binary">
            <ng-container *ngFor="let itemlist of puzzle; let i = index">
                <div class="clearfix" *ngIf="(i % 3 == 0 && i > 0)"></div>
                <app-sudoku-grid-item [column]="itemlist"/> 
            </ng-container>

            <button class="btn btn-warning" (click)="saveSolution()">Complete</button>
        </div>
    </div>
</div>