<section class="game_item">
    <section>
<h3> {{ game.name }}</h3>
<h4> Status </h4>
<h4> Punten </h4>
    </section>
    <section class="interaction">
        <section class="switch_container">
            <h4> Behaald:</h4>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </section>
        <section class="punten_container">
            <h4> Verander Punten:</h4>
            <input type="number">
        </section>
    </section>
    
</section>
